@import '../../common/stylus/var.styl'

.banner-wrap
  position: relative
  swiper
    height: 200px
    swiper-item
      image
        width: 100%
        height: 100%
  .nav
    position: absolute
    right: 0
    bottom: -22px
    font-size: 0
    .link
      display: inline-block
      vertical-align: top
      margin-right: 1em
      width: 44px
      height: 44px
      padding: 4px 0
      line-height: 18px
      text-align: center
      font-size: 12px
      color: #fff
      background: $color-theme
      border-radius: 50%
      box-sizing: border-box
.introduction
  padding: 40px 20px
  .title-wrap
    margin-bottom: 24px
    span
      display: block
      font-weight: bold
      color: $color-theme
      &.cn
        font-size: 18px
      &.en
        font-size: 12px
  .content
    font-size: 14px
    color: $color-text
    line-height: 1.5
    p
      margin-bottom: 1em