@import '../../common/stylus/var.styl'

.detail
  padding: 30px 10px
  .title
    font-size: 18px
    margin-bottom: 1em
  .updatetime
    font-size: $font-s
    color: $color-text-l
    margin-bottom: 1em
  .content
    font-size: $font-m
    color: $color-text
    line-height: 1.5
    image
      width: 100%
      margin: $font-m auto