@import '../../common/stylus/var.styl'

.title
  font-size: $font-l
  color: $color-text-d
  line-height: 40px

.special
  .shop-wrap
    padding-left: 10px
    border-bottom: 1px solid $color-border
    .title
      padding-left: 3px
      border-bottom: 1px solid $color-border
    .shop-list
      display: flex
      flex-wrap: nowrap
      font-size: 0
      overflow-y: hidden
      overflow-x: auto
      .shop
        display: inline-block
        vertical-align: top
        padding: 16px 6px
        &:not(:last-child)
          margin-right: 10px
        image
          width: 60px
          height: 60px
          border-radius: 50%
        .name
          display: block
          text-align: center
          font-size: $font-s
          margin-top: 1em
  .event-wrap
    padding-left: 15px
    .event-list
      .event
        display: flex
        padding: 10px 15px 10px 0
        &:first-child
          padding-top: 0
        &:not(:last-child)
          border-bottom: 1px solid $color-border
        image
          flex: 0 0 132px
          width: 132px
          height: 80px
        .content
          display: flex
          flex-direction: column
          justify-content: space-between
          flex: 1
          padding-left: 14px
          .event-title
            font-size: $font-m
            font-weight: bold
            color: $color-text-d
            line-height: 1.5
            max-height: 3em
            overflow: hidden
          .updatetime
            font-size: $font-s
            color: $color-text